
body {
    margin: 0;
      position: relative;
  min-height: 100vh;
  font-family: "franklin-gothic-urw",sans-serif;
}

.header-main {
   background-color: #00193c;
   padding: 2em 0px;
}

.container {
    box-sizing: border-box;
    clear: both;
    display: block;
    margin: auto auto 1.2em;
    max-width: 1200px;
    overflow: auto;
    padding: 0px 1em;
    width: 100%;
}

.header-main .container {
    margin: 0px auto;
}

.site-logo {
    float: left;
    max-width: 265px;
    text-align: left;
    display: block;
    margin: 0px 0px 0.4em;
}

.site-logo img {
    width: 265px;
}


main {
    padding: 30px 0 0 0; 
}

.content-wrap {
    padding-bottom: 50px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.3em;
    line-height: 150%;
}

li {
    font-size: 1.3em;
    line-height: 150%;
    list-style-type: none;
    margin-bottom: 10px;
}

li::before {
    content:"\25A0";
    margin-right: 10px;
    color: #00193c;
    font-size: 1.5em;
   
    
}

a, a:hover {color: #dc0050;}

footer {
      background-color: #00193c;
      height: 50px;
    position: absolute;
  bottom: 0;
  width: 100%;
  
}

.warning {
    text-align: center;
    font-size: 20em;
    color: #00193c;
}

#date {
    margin-bottom: 10px;
}
